---
interface Props {
  class?: string;
}
const className = Astro.props.class || '';
---
<section class:list={["section", "fade-in", className]}>
  <div class="container">
    <slot />
  </div>
</section>
